* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
  padding: 10px;
}

ul li {
  color: darkslategray;
  font-size: large;
  padding: 10px;
}

div {
  background-image: radial-gradient(circle, yellow, lightyellow);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
}
